@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
	.no-scrollbar::-webkit-scrollbar {
		display: block;
	}

	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: 4px; /* Firefox */
	}
}
